@model dotNetCarteaDeAur.Models.PubContact

@{
    ViewBag.Title = "Edit publisher contact";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(
   actionName: "Edit",
   controllerName: "PubContact"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(p => p.Pub_contact_id)

    @Html.Label("Pub_email", "Publisher email: ")
    <br />
    @Html.EditorFor(p => p.Pub_email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(p => p.Pub_email, "", new { @class = "text-danger" })

    @Html.Label("Pub_phone", "Publisher phone: ")
    <br />
    @Html.EditorFor(p => p.Pub_phone, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(p => p.Pub_phone, "", new { @class = "text-danger" })

    @Html.Label("Pub_city", "Publisher city: ")
    <br />
    @Html.EditorFor(p => p.Pub_city, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(p => p.Pub_city, "", new { @class = "text-danger" })

    @Html.Label("Pub_street", "Publisher street: ")
    <br />
    @Html.EditorFor(p => p.Pub_street, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(p => p.Pub_street, "", new { @class = "text-danger" })

    <br />
    <button class="btn btn-primary" type="submit"> Update </button>
}
