
@{
    ViewBag.Title = "Publisher Contacts";
    var counter = 0;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var pub_con in ViewBag.PubContacts)
    {
        counter++;
        <div class="col-md-3">
            <div class="mt-3">
                <h3>@counter</h3>

                @Html.Label("Pub_email", "Publisher email:")
                <p>@pub_con.Pub_email</p>

                @Html.Label("Pub_phone", "Publisher phone:")
                <p>@pub_con.Pub_phone</p>

                @Html.Label("Pub_city", "Publisher city:")
                <p>@pub_con.Pub_city</p>

                @Html.Label("Pub_street", "Publisher street:")
                <p>@pub_con.Pub_street</p>
                <br />

                @using (Html.BeginForm(
                    actionName: "Edit",
                    controllerName: "PubContact",
                    method: FormMethod.Get,
                    routeValues: new { id = pub_con.Pub_contact_id }))
                {
                    <button class="btn btn-primary m-2" type="submit"> Edit </button>
                }

                @using (Html.BeginForm(
                    actionName: "Delete",
                    controllerName: "PubContact",
                    method: FormMethod.Post,
                    routeValues: new { id = pub_con.Pub_contact_id }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-primary m-2" type="submit"> Delete </button>
                }
            </div>
        </div>
    }
</div>