
@{
    ViewBag.Title = "Orders";
    int count = -1;
    int snd_count = -1;
}
    <h2>@ViewBag.Title</h2>
    <div class="row">
        @foreach (var order in ViewBag.Orders)
        {
            count = -1;
            <div class="col-md-3">
                <div class="mt-3">
                    <h4>Order id: @order.Ord_id</h4>
                    <p>It was ordered by customer with customer id: @order.Cust_id</p>
                    <p>Price: @order.Ord_price</p>
                    <p>Time placed: @order.Ord_placed</p>
                    @if (order.Ord_arrived != null)
                    {
                        <p>Time arrived: @order.Ord_arrived</p>
                    }
                    @if (order.Status != null)
                    {
                        <p>Status: @order.Status</p>
                    }
                    <h6> Books bought </h6>
                    @foreach (var b in order.Books)
                    {
                        count++;
                        snd_count = 0;
                        <p>Title: @b.Title</p>
                        foreach (var ord_q_b in order.Quantity_bought)
                        {
                            if (snd_count == 0 && count == 0)
                            {
                                <p>Quantity: @ord_q_b</p>
                                break;
                            }

                            if (snd_count == (count * 2))
                            {
                                <p>Quantity: @ord_q_b</p>
                                break;
                            }
                            snd_count++;
                        }
                    }
                </div>
            </div>
        }
    </div>