@model dotNetCarteaDeAur.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title about @Model.Title</h2>

<br />
<p>@Model.Author</p>
<br />
<p>@Model.Price</p>
<br />
<p>@Model.ISBN</p>
<br />
<p>@Model.PublishDate</p>