@model dotNetCarteaDeAur.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Label("Title", "Title:")
<br />
<p>@Model.Title</p>
@Html.Label("Author", "Author:")
<br />
<p>@Model.Author</p>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Book", method: FormMethod.Get, routeValues:
new { id = Model.Book_id }))
{
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
}
<br />
@using (Html.BeginForm(actionName: "Delete", controllerName: "Book", method: FormMethod.Post, routeValues:
new { id = Model.Book_id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-primary col-lg-1" type="submit">Delete</button>
}
<br />
