@model dotNetCarteaDeAur.Models.Customer

@{
    ViewBag.Title = "Edit customer";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(
    actionName: "Edit",
    controllerName: "Customers"
    ))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(c => c.Cust_id)
    <br />

    @Html.Label("Email", "Email:")
    <br />
    @Html.EditorFor(c => c.Email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.Email, "", new { @class = "text-danger" })

    @Html.Label("Password", "Password:")
    <br />
    @Html.EditorFor(c => c.Password, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.Password, "", new { @class = "text-danger" })

    @Html.Label("First_name", "First name:")
    <br />
    @Html.EditorFor(c => c.First_name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.First_name, "", new { @class = "text-danger" })

    @Html.Label("Last_name", "Last name:")
    <br />
    @Html.EditorFor(c => c.Last_name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.Last_name, "", new { @class = "text-danger" })

    @Html.Label("City", "City:")
    <br />
    @Html.EditorFor(c => c.City, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.City, "", new { @class = "text-danger" })

    @Html.Label("Street", "Street:")
    <br />
    @Html.EditorFor(c => c.Street, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.Street, "", new { @class = "text-danger" })

    @Html.Label("P_code", "Postal code:")
    <br />
    @Html.EditorFor(c => c.P_code, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.P_code, "", new { @class = "text-danger" })

    @Html.Label("Phone", "Phone:")
    <br />
    @Html.EditorFor(c => c.Phone, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(c => c.Phone, "", new { @class = "text-danger" })

    <br />
    <button class="btn btn-primary" type="submit">Update</button>
}

