
@{
    ViewBag.Title = "Customers";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var cust in ViewBag.Customers)
    {
        <div class="col-md-3">
            <div class="mt-3">
                <h3>@cust.Cust_id</h3>
                @Html.Label("First_name", "First name:")
                <p>@cust.First_name</p>

                @Html.Label("Last_name", "Last name:")
                <p>@cust.Last_name</p>

                @Html.Label("City", "City:")
                <p>@cust.City</p>

                @Html.Label("Street", "Street:")
                <p>@cust.Street</p>

                @Html.Label("P_code", "Postal code:")
                <p>@cust.P_code</p>

                @Html.Label("Phone", "Phone:")
                <p>@cust.Phone</p>
                <br />

                @using (Html.BeginForm(actionName: "Edit", controllerName: "Customers", method: FormMethod.Get, routeValues: new { id = cust.Cust_id }))
                {
                    <button class="btn btn-primary m-2" type="submit">Update</button>
                }

                @using (Html.BeginForm(actionName: "Delete", controllerName: "Customers", method: FormMethod.Post, routeValues:
                    new { id = cust.Cust_id }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-primary m-2" type="submit">Delete</button>
                }
            </div>
        </div>
    }
</div>